#active_button{
	background-image: none;
	background-color: #0F0;
}

/*#tool_box{*/
/*	background-color: #FF0;*/
/*}*/

/*#term_box{*/
/*	background-color: #0FF;*/
/*}*/

/*#main_window GtkButton{*/
/*	background-color: #F00;*/
/*	background-image: none;*/
/*}*/


/*#main_window GtkButton:hover{*/
/*	background-color: #0F0;*/
/*}*/

/*#test_box{*/
/*	background-color: #F0F;*/
/*}*/

/*#test_exec_box{*/
/*	background-color: #00F;*/
/*}*/

/*#test_exec_box:hover{*/
/*	background-color: #0FF;*/
/*}*/

/*#terminal{*/
/*	background-color: #FF0;*/
/*}*/

/*#header_bar{*/
/*	background-color: #0FF;*/
/*}*/

/*#header_bar:active{*/
/*	background-color: #00F;*/
/*}*/

/*#notebook{*/
/*	background-color: #FF0;*/
/*}*/

/*#test_box GtkButton{*/
/*	background-color: #F00;*/
/*}*/

/*#button_new_tab{*/
/*	background-color: #F00;*/
/*}*/

