@define-color c_base03 		#002B36;
@define-color c_base02 		#073642;
@define-color c_base01 		#586e75;
@define-color c_base00 		#657b83;
@define-color c_base0 		#839496;
@define-color c_base1 		#93a1a1;
@define-color c_base2 		#eee8d5;
@define-color c_base3 		#fdf6e3;
@define-color c_yellow 		#b58900;
@define-color c_orange 		#cb4b16;
@define-color c_red 		#dc322f;
@define-color c_magenta 	#d33682;
@define-color c_violet 		#6c71c4;
@define-color c_blue 		#268bd2;
@define-color c_cyan 		#2aa198;
@define-color c_green 		#859900;
@define-color c_black 		#000000;
@define-color c_white 		#ffffff;

@define-color bg_header_bar 						@c_base03;
@define-color bg_button_menu						@c_base03;
@define-color bg_button_tool_box					@c_base03;
@define-color bg_box								@c_base03;
@define-color bg_button_tab							@c_base02;
@define-color bg_button_active_tab					@c_cyan;
@define-color bg_scrollbar							@c_base03;
@define-color scrollbar								@c_base01;
@define-color border_button_menu 					@c_base02;
@define-color border_model_button_menu				@c_base03;
@define-color border_model_button_menu_hover		@c_base02;
@define-color border_button_tool_box				@c_base02;
/*border box set to base02 is cool too*/
@define-color border_box		 					@c_base03; 
@define-color label_button_active_tab				@c_base03;
@define-color label_button_tab	 					@c_base01;
@define-color label_button_tab_hover				@c_green;
@define-color label_button_tab_active				@c_blue;
@define-color label_button_menu 					@c_base01;
@define-color label_menu 							@c_base01;
@define-color label_button_menu_hover 				@c_green;
@define-color label_button_menu_active 				@c_blue;
@define-color label_button_save_state 				@c_violet;
@define-color label_header_bar		 				@c_cyan;


#header_bar{
    background-color: @bg_header_bar;
	box-shadow: none;
}

#header_bar GtkLabel{
    color: @label_header_bar;
	text-shadow: none;
}


#button_save_state GtkLabel{
	color: @label_button_save_state;
	text-shadow: none;
}

GtkPopoverMenu{
	background-image: none;
	background-color: @bg_button_menu;
	border-color: @border_button_menu;
	border-width: 2px;
	border-style: solid;
}

GtkPopoverMenu GtkLabel{
	color: @label_button_menu;
	text-shadow: none;
}


#popover_menu GtkButton{
	background-image: none;
	background-color: @bg_button_menu;
	border-color: @border_button_menu;
}

#popover_menu GtkButton:hover GtkLabel{
	color: @label_button_menu_hover;
	text-shadow: none;
}

#popover_menu GtkButton:active GtkLabel{
	color: @label_button_menu_active;
	text-shadow: none;
}

#popover_theme_submenu GtkModelButton{
	background-image: none;
	background-color: @bg_button_menu;
	border-color: @border_model_button_menu;
}


#popover_theme_submenu GtkModelButton:hover{
	background-image: none;
	border-color: @border_model_button_menu_hover;
}

#popover_theme_submenu GtkModelButton:hover GtkLabel{
	color: @label_button_menu_hover;
	text-shadow: none;
}

#popover_theme_submenu GtkModelButton:active GtkLabel{
	color: @label_button_menu_active;
	text-shadow: none;
}


#term_box GtkScrollbar{
	background-image: none;
	background-color: @bg_scrollbar;
	border-color: @scrollbar;
}


#tool_box{
	border-width: 6px 0px 0px 0px;
	border-style: dashed;
}

#tool_box GtkButton{
	text-shadow: none;
	box-shadow: none;
}

#tool_box GtkButton GtkLabel{
	text-shadow: none;
	box-shadow: none;
}


#event_shortcut_box{
	background-color: @bg_box;
	border-width: 6px 0px 0px 0px;
	border-style: solid;
	border-color: @border_box;
}

#shortcut_box{
	background-color: @bg_box;
	border-width: 6px;
	border-style: solid;
	border-color: @border_box;
}

#shortcut_box GtkButton{
	background-image: none;
	background-color: @bg_button_tool_box;
	border-width: 0px;
	border-style: solid;
	border-radius: 0;
	box-shadow: none;
}


#event_tab_box{
	background-color: @bg_box;
	border-width: 6px 0px 0px 0px;
	border-style: solid;
	border-color: @border_box;
}

#scroll_window_tab{
	background-color: @bg_box;
	border-style: solid;
	border-color: @border_box;
}

#tab_box GtkButton{
	border-color: @bg_button_tool_box;
	border-width: 4px;
	border-radius: 0px;
	border-style: solid;
	padding: 4px 8px;
	box-shadow: none;
}


#tab_button{
	background-image: none;
	background-color: @bg_button_tab;
	border-style: solid;
}

#tab_button GtkLabel{
	color: @label_button_tab;
	text-shadow: none;
}

#tab_button:hover GtkLabel{
	color: @label_button_menu_hover;
	text-shadow: none;
}

#tab_button:active GtkLabel{
	color: @label_button_tab_active;
	text-shadow: none;
}


#active_button{
	background-image: none;
	background-color: @bg_button_active_tab;
	border-style: solid;
}

#active_button GtkLabel{
	color: @label_button_active_tab;
	text-shadow: none;
}

#active_button:hover GtkLabel{
	color: @label_button_tab_hover;
	text-shadow: none;
}

#active_button:active GtkLabel{
	color: @label_button_tab_active;
	text-shadow: none;
}


