@define-color c_base03 		#002B36;
@define-color c_base02 		#073642;
@define-color c_base01 		#586e75;
@define-color c_base00 		#657b83;
@define-color c_base0 		#839496;
@define-color c_base1 		#93a1a1;
@define-color c_base2 		#eee8d5;
@define-color c_base3 		#fdf6e3;
@define-color c_yellow 		#b58900;
@define-color c_orange 		#cb4b16;
@define-color c_red 		#dc322f;
@define-color c_magenta 	#d33682;
@define-color c_violet 		#6c71c4;
@define-color c_blue 		#268bd2;
@define-color c_cyan 		#2aa198;
@define-color c_green 		#859900;
@define-color c_black 		#000000;
@define-color c_white 		#ffffff;

@define-color header_bar 	#002B36;

/*#main_menu{*/
/*	background-color: #002b36;*/
/*}*/

#main_menu GtkButton{
/*	background-color: #F00;*/
/*	border-width: 5px;*/
/*	border-style: solid;*/
/*	border-color: #F0F;*/
/*	padding: 0px 16px 0px 16px;*/
}

#main_menu GtkLabel{
	color: #586e75;
}

GtkApplication .titlebar,
GtkApplication .header-bar {
    background-color: #F00;
}

#header_bar{
    background-color: @header_bar;
}



/*#button_fullscreen{*/
/*	background-image: none;*/
/*	background-color: #F00;*/
/*}*/

/*GtkMenuButton GtkButton{*/
/*	background-image: none;*/
/*	background-color: #F00;*/
/*	border-width: 5px;*/
/*	border-style: solid;*/
/*	border-color: #F0F;*/
/*}*/

#tool_box{
	background-color: #5c3566;
	border-width: 6px 0px 0px 0px;
	border-style: dashed;
	border-color: #ad7fa8;
}

#tool_box GtkButton{
	text-shadow: none;
	box-shadow: none;
}

#tool_box GtkButton GtkLabel{
	text-shadow: none;
	box-shadow: none;
}

#event_tab_box{
	background-color: #002b36;
	border-width: 6px 0px 0px 0px;
	border-style: solid;
	border-color: #073642;
}

#event_shortcut_box{
	background-color: #002b36;
	border-width: 6px 0px 0px 0px;
	border-style: solid;
	border-color: #073642;
}

#scroll_window_tab{
	background-color: #002b36;
/*	border-width: 6px;*/
	border-style: solid;
	border-color: #002b36;
}

#scroll_window_term{
	background-color: #002b36;
	border-width: 6px;
	border-style: solid;
	border-color: #002b36;
}

#scroll_window_term{
	background-color: #4e9a06;
	border-width: 6px;
	border-style: solid;
	border-color: #8ae234;
}


#shortcut_box{
	border-width: 6px;
	border-style: solid;
	border-color: #002b36;
	background-color: #002b36;
}

#shortcut_box GtkButton{
	background-image: none;
	background-color: #002b36;
	border-width: 0px;
	border-style: solid;
	border-radius: 0;
	box-shadow: none;
}

#tab_box GtkButton{
	border-color: #002b36;
	border-width: 4px;
	border-radius: 0;
	padding: 4px 8px;
	box-shadow: none;


}

/*#term_box{*/
/*	border-color: #ad7fa8;*/
/*	border-width: 10px;*/
/*	border-style: dashed;*/
/*}*/

#tab_button{
	background-image: none;
	background-color: #073642;
	border-style: solid;
/*	border-width: 0px;*/
/*	border-color: #FF0;*/
}

#tab_button GtkLabel{
	color: #586e75;
	text-shadow: none;
}

#tab_button:hover GtkLabel{
	color: #859900;
	text-shadow: none;
}

#tab_button:active GtkLabel{
	color: #268bd2;
	text-shadow: none;
}

#active_button{
	background-image: none;
	background-color: #586e75;
	border-style: solid;
/*	border-width: 0px;*/
/*	border-color: #FF0;*/
}

#active_button GtkLabel{
	color: #002B36;
	text-shadow: none;
}

#active_button:hover GtkLabel{
	color: #859900;
	text-shadow: none;
}

#active_button:active GtkLabel{
	color: #268bd2;
	text-shadow: none;
}


